In [8]:
from pandas_datareader import data as wb

In [9]:
MSFT = wb.DataReader('MSFT', data_source = 'yahoo', start = '2010-1-1')

In [10]:
MSFT.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.925440
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.153070
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.901886

In [12]:
close  = MSFT['Close']

In [20]:
close

Date
2009-12-31     30.480000
2010-01-04     30.950001
2010-01-05     30.959999
2010-01-06     30.770000
2010-01-07     30.450001
2010-01-08     30.660000
2010-01-11     30.270000
2010-01-12     30.070000
2010-01-13     30.350000
2010-01-14     30.959999
2010-01-15     30.860001
2010-01-19     31.100000
2010-01-20     30.590000
2010-01-21     30.010000
2010-01-22     28.959999
2010-01-25     29.320000
2010-01-26     29.500000
2010-01-27     29.670000
2010-01-28     29.160000
2010-01-29     28.180000
2010-02-01     28.410000
2010-02-02     28.459999
2010-02-03     28.629999
2010-02-04     27.840000
2010-02-05     28.020000
2010-02-08     27.719999
2010-02-09     28.010000
2010-02-10     27.990000
2010-02-11     28.120001
2010-02-12     27.930000
                 ...
2020-04-03    153.830002
2020-04-06    165.270004
2020-04-07    163.490005
2020-04-08    165.130005
2020-04-09    165.139999
2020-04-13    165.509995
2020-04-14    173.699997
2020-04-15    171.880005
2020-04-16    177.039993
2020-04-17    178.600006
2020-04-20    175.059998
2020-04-21    167.820007
2020-04-22    173.520004
2020-04-23    171.419998
2020-04-24    174.550003
2020-04-27    174.050003
2020-04-28    169.809998
2020-04-29    177.429993
2020-04-30    179.210007
2020-05-01    174.570007
2020-05-04    178.839996
2020-05-05    180.759995
2020-05-06    182.539993
2020-05-07    183.600006
2020-05-08    184.679993
2020-05-11    186.740005
2020-05-12    182.509995
2020-05-13    179.750000
2020-05-14    180.529999
2020-05-15    183.160004
Name: Close, Length: 2611, dtype: float64

In [21]:
import pandas as pd
import numpy as np

In [22]:
logarithmic_returns = np.log(close / close.shift(1))

In [23]:
log_returns_a = close.mean()* 250

In [24]:
log_returns_a

15078.552288463043

In [27]:
print (str(round(log_returns_a, 5)*100) + '%')

1507855.229%

In [29]:
from pandas_datareader import data as wb

In [30]:
import matplotlib.pyplot as plt

In [ ]:
tickers = ['PG', 'MSFT]