In [8]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [9]:
tickers = ['PG', 'BEI.DE']

In [10]:
sec_data = pd.DataFrame()

In [11]:
for t in tickers:
    sec_data[t] =wb.DataReader(t, data_source = 'yahoo', start = '2007-1-1') ['Adj Close']

In [12]:
sec_data.tail()

                    PG     BEI.DE
Date
2020-05-13  113.919998  92.540001
2020-05-14  113.809998  91.300003
2020-05-15  114.610001  92.480003
2020-05-18  116.209999  95.599998
2020-05-19  112.440002  93.220001

In [7]:
sec_returns = np.log(sec_data/sec_data.shift(1))