In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [4]:
sec_data.tail()

                    PG     BEI.DE
Date
2020-05-22  112.599998  91.980003
2020-05-26  112.029999  91.500000
2020-05-27  113.889999  93.839996
2020-05-28  116.059998  95.540001
2020-05-29  115.919998  94.260002

In [5]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [6]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
2007-01-10  0.011901 -0.012673
2007-01-11  0.006208  0.007498
2007-01-12  0.005554  0.009295
2007-01-16  0.000000  0.024573
2007-01-17  0.010304 -0.041784
2007-01-18  0.002750  0.011024
2007-01-19  0.008357 -0.002071
2007-01-22 -0.005614 -0.000830
2007-01-23 -0.001218  0.001037
2007-01-24 -0.001982  0.013382
2007-01-25 -0.009047 -0.019619
2007-01-26 -0.000924  0.000209
2007-01-29  0.000309  0.013050
2007-01-30 -0.004480  0.026202
2007-01-31  0.004326  0.032932
2007-02-01  0.007218 -0.010923
2007-02-02  0.000000  0.007035
2007-02-05 -0.002912  0.000973
2007-02-06 -0.008633 -0.004876
2007-02-07 -0.001704 -0.000391
2007-02-08  0.001704 -0.010617
2007-02-09 -0.002480  0.001777
2007-02-12 -0.004199 -0.000987
2007-02-13  0.008536  0.001382
2007-02-14  0.002624  0.012934
...              ...       ...
2020-04-17  0.025916  0.012986
2020-04-20 -0.033351  0.011775
2020-04-21 -0.007658  0.002088
2020-04-22 -0.002342  0.000626
2020-04-23  0.006647 -0.005854
2020-04-24 -0.005206 -0.006311
2020-04-27 -0.011260 -0.003594
2020-04-28 -0.004779  0.004859
2020-04-29  0.001624  0.002315
2020-04-30  0.006725  0.012211
2020-05-01 -0.008948       NaN
2020-05-04 -0.009029       NaN
2020-05-05  0.002071 -0.028924
2020-05-06 -0.025404  0.019082
2020-05-07 -0.008257  0.013534
2020-05-08  0.033143  0.021875
2020-05-11 -0.005535  0.004234
2020-05-12 -0.006613  0.005477
2020-05-13 -0.005515 -0.028339
2020-05-14 -0.000966 -0.013490
2020-05-15  0.007005  0.012842
2020-05-18  0.013864  0.033180
2020-05-19 -0.032979 -0.025211
2020-05-20  0.007443  0.005136
2020-05-21 -0.014762 -0.016789
2020-05-22  0.008741 -0.001738
2020-05-26 -0.005075 -0.005232
2020-05-27  0.016466  0.025252
2020-05-28  0.018874  0.017954
2020-05-29 -0.001207 -0.013488

[3375 rows x 2 columns]

## PG

In [7]:
sec_returns['PG'].mean()

0.0002929378177931812

In [8]:
sec_returns['PG'].mean() * 250

0.07323445444829531

In [9]:
sec_returns['PG'].std()

0.01196521198561893

In [10]:
sec_returns['PG'].std() * 250 ** 0.5

0.1891866128065084

## Beiersdorf

In [11]:
sec_returns['BEI.DE'].mean()

0.00024557090487750964

In [12]:
sec_returns['BEI.DE'].mean() * 250

0.061392726219377414

In [13]:
sec_returns['BEI.DE'].std()

0.013795127780397293

In [14]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.2181201219955928

***

In [15]:
print (sec_returns['PG'].mean() * 250)
print (sec_returns['BEI.DE'].mean() * 250)

0.07323445444829531
0.061392726219377414

In [16]:
sec_returns['PG', 'BEI.DE'].mean() * 250

KeyError: ('PG', 'BEI.DE')

In [18]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.073234
BEI.DE    0.061393
dtype: float64

In [19]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.189187
BEI.DE    0.218120
dtype: float64

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

In [20]:
PG_var = sec_returns['PG'].var() 
PG_var

0.0001431662978607989

In [21]:
BEI_var = sec_returns['BEI.DE'].var() 
BEI_var

0.00019030555047748913

In [22]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.035791574465199726

In [23]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.04757638761937228

***

In [24]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000143  0.000046
BEI.DE  0.000046  0.000190

In [25]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.035792  0.011390
BEI.DE  0.011390  0.047576

***

In [26]:
corr_matrix = sec_returns.corr()
corr_matrix

             PG   BEI.DE
PG      1.00000  0.27563
BEI.DE  0.27563  1.00000